{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <script type=text/javascript
    src="{{ url_for('static', filename='highcharts.js') }}"></script>
  <script language="Javascript">


    var cpuTempOptions = {
                    chart: {
                      renderTo: 'cpuTempContainer',
                      type: 'line'
                    },
                    title:{
                      text: 'CPU temperature'
                    },  
                    yAxis: {
                      min: 40,
                      title: {
                        text: '℃'
                      }
                    },
		    xAxis: {  
                      categories: []  
                    }, 
		    series: []
                 };

    var memoryOptions = {
                    chart: {
                      renderTo: 'memoryContainer',
                      type: 'line'
                    },
                    title:{
                      text: 'Memory usage'
                    },  
                    yAxis: {
                      min: 40,
                      title: {
                        text: '℃'
                      }
                    },
		    xAxis: {  
                      categories: []  
                    }, 
		    series: []
                 };

    var cpuTempChart;
    var memoryChart;

$(document).ready(function(){
  $.getJSON(
	"/monitor/cpu/temperature",
        function(data){
		cpuTempOptions.series.push({"data": data.data,"name":"Core 1"})
		cpuTempOptions.xAxis.categories = data.title
		cpuTempChart = new Highcharts.Chart(cpuTempOptions);
	}

	);
  setInterval(function(){
		$.ajax({
			type: "POST",
			url: "/monitor/cpu/temperature/1",
			async: false,
			success: function(data){
				cpuTempChart.xAxis[0].categories.push(data.title)
				cpuTempChart.series[0].addPoint([data.title, data.data], true, true)
			}
		});
  }, 5000);

  $.getJSON(
	"/monitor/memory/usage",
        function(data){
		memoryOptions.series.push({"data": data.data,"name":"Core 1"})
		memoryOptions.xAxis.categories = data.title
		memoryChart = new Highcharts.Chart(memoryOptions);
	}

	);
  setInterval(function(){
		$.ajax({
			type: "POST",
			url: "/monitor/memory/usage/1",
			async: false,
			success: function(data){
				memoryChart.xAxis[0].categories.push(data.title)
				memoryChart.series[0].addPoint([data.title, data.data], true, true)
			}
		});
  }, 5000);
});
  </script>
{% endblock %}
{% block body_title %}
  {{ super() }}

<div id="cpuTempContainer"></div>
<div id="memoryContainer"></div>
  
{% endblock %}
{% block body %}
{% endblock %}
