{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <script type=text/javascript
    src="{{ url_for('static', filename='highcharts.js') }}"></script>
  <script language="Javascript">
/*
    $(document).ready(function() {

Highcharts.chart('container', {

    title: {
        text: 'Solar Employment Growth by Sector, 2010-2016'
    },

    subtitle: {
        text: 'Source: thesolarfoundation.com'
    },

    yAxis: {
        title: {
            text: 'Number of Employees'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            pointStart: 2010
        },
    line: {
        dataLabels: {
            enabled: true
        }
    }
    },

    series: [{
        name: 'Installation',
        data: [['1:00',43934], ['2:02',52503], ['5:34',57177], ['7:45',69658]]
    }
    ]

});

});
*/
$(document).ready(function(){
  $("#btn").click(function(){
  htmlobj=$.ajax({url:"/monitor/cpu/temperature",async:false});
  $("#myDiv").html(htmlobj.responseText);
  });
});
  </script>
{% endblock %}
{% block body_title %}
  {{ super() }}
 <!-- <div id="container"></div> -->
<input type="button" id="btn" value="query"/>
<div id="myDiv">test</div>

  
{% endblock %}
{% block body %}
{% endblock %}
